#platAjout{
    display: flex;
    justify-content: space-between;
}

#listeMenuTitle{
    display: flex;
    justify-content: space-between;
}

#commandeBtn{
    border-radius: 0;
}

#platCompte{
    float: right;
}