body{
  background-image: url('/images/background2.jpg');
  font-family: fantasy;
}


@media (min-width: 1200px) { 
  #appContent{
    width: 100%;
    margin: auto;
  }

  
  #homeCardContainer{
    width: 500px;
    margin: auto;
  }

  #cardRestaurant, #cardBus{
    height: 300px;
  }

  #ligneBody{
    width: 100%;
  }
}

@media (min-width: 992px) { 
  #appContent{
    width: 100%;
    margin: auto;
  }


  #homeCardContainer{
    width: 500px;
    margin: auto;
  }

  #cardRestaurant, #cardBus{
    height: 300px;
  }

  #ligneBody{
    width: 100%;
  }

  
}

  @media (min-width: 768px) {
    #appContent{
      width: 100%;
      margin: auto;
      min-height: 560px;
    }
  
    #homeCardContainer{
      width: 500px;
      margin: auto;
    }
  
    #cardRestaurant, #cardBus{
      height: 300px;
    }
  
    #ligneBody{
      width: 100%;
    }
}

  